<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftLearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AB78EE21C8808BE00AFC5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB78EFB1C8808BF00AFC5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB78F061C8808BF00AFC5BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
